.container {
  background-color: rgb(247, 242, 242);
  width: 1024px;  
  margin: 24px auto;
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  line-height: 2;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  padding: 24px;
}

pre {
  font-size: 0.9rem;
  background-color: #e9dddd;
}

.margin-side-container {
  padding: 0 16px;
}
